.csv-upload-label {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.csv-upload-label:hover {
  background-color: var(--button-hover-bg-color);
}

.csv-upload input[type="file"] {
  display: none;
}